<!DOCTYPE html>
<meta charset="utf-8">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Title</title>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
        <label for="select_cidades">Cidades:</label>
        <select class="form-select" id="select_cidades">
          <option value='0'>TODAS</option>
          {% for c in cidades %}
            <option value={{c.cod_ibge}}>{{c.nome_municipio}}</option>
          {% endfor %}
        </select>
      </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label>Periodo:</label>
          <div class="input-group">
            
            <input type="date" class="form-control" id="date_start">
            <span class="input-group-text" id="basic-addon">To</span>
            <input type="date" class="form-control" id="date_end">
          </div>
        </div>
      </div>
    </div>
  </div>
<div id="my_dataviz"></div>
<div id="graph_simple"></div>
<div id="graph_casos_mortes"></div>
<style>

  .rcorners1 {
    border-radius: 5px;
    background: #F0F0F0;
  }

  path { 
      stroke: steelblue;
      stroke-width: 1;
      fill: none;
  }

  .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }


</style>

<script>
$(document).ready(function(){
    
    $('#date_start').val({{datas|safe}}[0].dt_min);
    $('#date_end').val({{datas|safe}}[0].dt_max);
    
    //data_idade = {{data_idade|safe}}
   // graph_idade(data_idade);
   // data_casos_mortes = {{data_casos_mortes|safe}}
   // graph_casos_mortes2(data_casos_mortes)
  
    filtrar();
});


$('#select_cidades').change(function() {
  filtrar();
});
$('#date_start').change(function() {
  filtrar();
});
$('#date_end').change(function() {
  filtrar();
});

function filtrar(){
  var cidade = $('#select_cidades').val();
  var date_start = $('#date_start').val();
  var date_end = $('#date_end').val();
  $.ajax({
        type: "POST",
        url: '/filtrar/',
        data: {'cidade': cidade,
          'date_start': date_start  ,
          'date_end': date_end,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        }, // serializes the form's elements.
        success: function(data)
        {
          dataJson = JSON.parse(data);
          if(dataJson.success){
            //d3.select("svg").remove();
            data_idade = dataJson.data_idade;
            graph_idade(data_idade);
            data_casos_mortes = dataJson.data_casos_mortes;
            graph_casos_mortes2(data_casos_mortes)
          }          
        }
      });
}

function graph_idade(data){
  // set the dimensions and margins of the graph
  var margin = {top: 10, right: 30, bottom: 90, left: 40},
      width = 1200 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

  
  // append the svg object to the body of the page
  $("#my_dataviz").html("");
  
  var svg = d3.select("#my_dataviz")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  
  // X axis
  var x = d3.scaleBand()
    .range([ 0, width ])
    .domain(data.map(function(d) { return d.idade; }))
    .padding(0.2);

  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
    .selectAll("text")
      .attr("transform", "translate(-10,5)rotate(-80)")
      .style("text-anchor", "end");

  // Add Y axis
  var y = d3.scaleLinear()
    .domain([0, d3.max(data, function(d) { return +d.casos; })])
    .range([ height, 0]);
  svg.append("g")
    .call(d3.axisLeft(y));

  var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<div class='rcorners1'>&nbsp;<strong>Idade:</strong> <span style='color:steelblue'>" + d.idade + "</span><br>   <strong>Casos:</strong> <span style='color:steelblue'>" + d.casos + "</span>&nbsp;</div>";
  })

  svg.call(tip);
  // Bars
  svg.selectAll("mybar")
    .data(data)
    .enter()
    .append("rect")
      .attr("x", function(d) { return x(d.idade); })
      .attr("width", x.bandwidth())
      .attr("fill", "#69b3a2")
      // no bar at the beginning thus:
      .attr("height", function(d) { return height - y(0); }) // always equal to 0
      .attr("y", function(d) { return y(0); })
      .on("mouseover", tip.show )
      .on("mouseout",  tip.hide )
      

  // Animation
  svg.selectAll("rect")
    .transition()
    .duration(800)
    .attr("y", function(d) { return y(d.casos); })
    .attr("height", function(d) { return height - y(d.casos); })
    .delay(function(d,i){return(i*10)})

}

function graph_casos_mortes(data){
  
  var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

  //var parseDate = d3.timeParse("%Y-%m-%d");
  
  //var x = d3.scaleTime().range([0, width]);
  //var y0 = d3.scaleLinear().range([height, 0]);
  //var y1 = d3.scaleLinear().range([height, 0]);


  //var xAxis = d3.axisBottom().scale(x).ticks(5);
  //var yAxisLeft = d3.axisLeft().scale(y0).ticks(5);
  //var yAxisRight = d3.axisRight().scale(y1).ticks(5); 
 

   
  var svg = d3.select("#graph_casos_mortes")
      .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
      .append("g")
          .attr("transform", 
                "translate(" + margin.left + "," + margin.top + ")");
  
  // Get the data
    
  // Scale the range of the data
  data.forEach(function(d) {
    d.dia = d3.timeParse("%Y-%m-%d")(d.dia);
    d.casos = parseInt(d.casos);
   // d.obitos = parseInt(d.obitos);
  });

  data.forEach(function(data) {
    
    //x.domain(d3.extent(data, function(d) { return d.dia; }));
    var x = d3.scaleTime()
      .domain(d3.extent(data, function(d) { return d.dia; }))
      .range([ 0, width ]);

    svg.append("g")            // Add the X Axis
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

    // Add Y axis
    var y0 = d3.scaleLinear()
      .domain([0, d3.max(data, function(d) { return +d.casos; })])
      .range([ height, 0 ]);
    svg.append("g")
      .call(d3.axisLeft(y0));

    //y0.domain([0, d3.max(data, function(d) {
    //return Math.max(d.casos); })]); 
    
    /*var y1 = d3.scaleLinear()
      .domain([0, d3.max(data, function(d) { return +d.obitos; })])
      .range([ height, 0 ]);
    svg.append("g")
      .attr("class", "axisRed")
      .call(d3.axisRight(y1));*/

    //y1.domain([0, d3.max(data, function(d) { 
    //return Math.max(d.obitos); })]);
   

    //var valueline = d3.line()
      //.x(function(d) { return x(d.dia); })
      //.y(function(d) { return y0(d.casos); });
  
    //var valueline2 = d3.line()
     // .x(function(d) { return x(d.dia); })
     // .y(function(d) { return y1(d.obitos); });

    svg.append("path")        // Add the valueline path.
      .datum(data)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .x(function(d) { return x(d.dia); })
        .y(function(d) { return y0(d.casos); }));
    
    /*svg.append("path")        // Add the valueline2 path.
      .datum(data)
      .attr("class", "line")
      .style("stroke", "red")
      .attr("d", d3.line()
        .x(function(d) { return x(d.dia); })
        .y(function(d) { return y1(d.obitos); }));

    */

    //svg.append("g")
    //  .attr("class", "axisSteelBlue")
    //  .call(d3.axisLeft(y0));
   
    //svg.append("g")	
    //  .attr("class", "axisRed")
    //  .attr("transform", "translate( " + width + ", 0 )")
    //  .call(d3.axisRight(y1));			
       

  });
}

function graph_simple(data){
  var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;
  
  var svg = d3.select("#graph_simple")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");
  
  data.forEach(function(d) {
    d.dia = d3.timeParse("%Y-%m-%d")(d.dia);
    d.casos = parseInt(d.casos);
    //d.obitos = parseInt(d.obitos);
  });
  data.forEach(function(d) {
    var x = d3.scaleTime()
      .domain(d3.extent(data, function(d) { return d.dia; }))
      .range([ 0, width ]);
    svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

    // Add Y axis
    var y = d3.scaleLinear()
      .domain([0, d3.max(data, function(d) { return +d.casos; })])
      .range([ height, 0 ]);
    svg.append("g")
      .call(d3.axisLeft(y));

    // Add the line
    svg.append("path")
      .datum(data)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .x(function(d) { return x(d.dia) })
        .y(function(d) { return y(d.casos) })
        )
  });

}

function graph_casos_mortes2(data){
  var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 1200 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;
  
  $("#graph_casos_mortes").html("");
  var svg = d3.select("#graph_casos_mortes")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");
  
  data.forEach(function(d) {
    d.dia = d3.timeParse("%Y-%m-%d")(d.dia);
    d.casos = parseInt(d.casos);
    d.obitos = parseInt(d.obitos);
  });
  data.forEach(function(d) {
    var x = d3.scaleTime()
      .domain(d3.extent(data, function(d) { return d.dia; }))
      .range([ 0, width ]);
    svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

    // Add Y axis
    var y = d3.scaleLinear()
      .domain([0, d3.max(data, function(d) { return +d.casos; })])
      .range([ height, 0 ]);
    svg.append("g")
      .attr("class", "y axis")
      .style("fill", "steelblue")
      .call(d3.axisLeft(y));
    
    var y0 = d3.scaleLinear()
      .domain([0, d3.max(data, function(d) { return +d.obitos; })])
      .range([ height, 0 ]);
    svg.append("g")
      .attr("class", "y axis")	
      .attr("transform", "translate(" + width + " ,0)")	
      .style("fill", "red")
      .call(d3.axisRight(y0));

    // Add the line
    svg.append("path")
      .datum(data)
      .attr("d", d3.line()
        .x(function(d) { return x(d.dia) })
        .y(function(d) { return y(d.casos) })
        )
   

    // Add the line
    svg.append("path")
      .datum(data)
      .attr("d", d3.line()
        .x(function(d) { return x(d.dia) })
        .y(function(d) { return y(d.obitos) })
        )
  });
}




</script>